<%- include('../partials/header') %>
        <form action="/cocktails/<%=cocktail._id%>" method="PUT" id='edit-cocktail-form'>
            <label>Name:</label>
            <input type="text" name="name" value='<%= cocktail.name %>'>
            <label for='family-select'>Cocktail Family:</label>
            <select name='family' id='family-select' form='edit-cocktail-form'>
                <option value='Complex Highball'>Complex Highball</option>
                <option value='Complex Sour'>Complex Sour</option>
                <option value='Dessert' selected>Dessert</option>
                <option value='Highball'>Highball</option>
                <option value='Miscellaneous'>Miscellaneous</option>
                <option value='Simple Highball' selected>Simple Highball</option>
                <option value='Simple Sour'>Simple</option>
                <option value='Sour'>Sour</option>
                <option value='Tropical'>Tropical</option>
            </select>
            <label for='glass-select'>Cocktail Family:</label>
            <select name='glass' id='glass-select' form='edit-cocktail-form'>
                <option value='Collins'>Collins</option>
                <option value='Coupe'>Coupe</option>
                <option value='Highball' selected>Highball</option>
                <option value='Hurricane'>Hurricane</option>
                <option value='Margarita'>Margarita</option>
                <option value='Martini' selected>Martini</option>
                <option value='Old Fashioned'>Old Fashioned</option>
                <option value='Pint'>Pint</option>
                <option value='Toddy'>Toddy</option>
                <option value='Wine'>Wine</option>
                <option value='N/A'>N/A</option>
            </select>
            <label for='directions-input'>Directions:</label>
            <textarea name='directions' id='directions-input' form='new-form' rows="5" cols="33">
                <%= cocktail.directions %> 
            </textarea>
            <input type="submit" value="Edit Cocktail">
        </form>
    </body>
</html>