<%- include('../partials/header') %>
<h3>
    <%= ingredient.description %> 
</h3>
<h3> Average Rating:</h3><!--FIXME:-->
<h3> List of Cocktails:</h3> <!--FIXME:-->
<h3> List of Bottles:</h3> <!--FIXME:-->
</body>
</html>
